<!DOCTYPE html>
<html lang="en">

<% include head.ejs%>

<body>
<div class="container-background">
<% include navbar.ejs%>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">关于我自己
                <small>个人的一些链接</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li class="active">About Me</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-md-6">
            <h2>关于我的那点小事</h2>
            <p></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/aboutme/github.jpg" alt="github">
                <div class="caption">
                    <h3>GitHub<br>
                        <small>zackgq2009</small>
                    </h3>
                    <p>平时工作中用到的或者一些感兴趣的项目都在里边</p>
                    <ul class="list-inline">
                        <li><a href="https://github.com/zackgq2009"><i class="fa fa-2x fa-github-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/aboutme/facebook.jpg" alt="facebook">
                <div class="caption">
                    <h3>Facebook<br>
                        <small>Johnny Kuo</small>
                    </h3>
                    <p>在脸书上随便转转，认识认识妹子...而已</p>
                    <ul class="list-inline">
                        <li><a href="https://zh-cn.facebook.com/people/Johnny-Kuo/100010615369081"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/aboutme/twitter.jpg" alt="twitter">
                <div class="caption">
                    <h3>Twitter<br>
                        <small>JohnnyWalk2012</small>
                    </h3>
                    <p>平时看看国际新闻，关注了一些明星、球星以及美剧的官方twitter</p>
                    <ul class="list-inline">
                        <li><a href="https://twitter.com/JohnnyWalk2012"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/aboutme/linkedin.jpg" alt="linkedin">
                <div class="caption">
                    <h3>LinkedIn<br>
                        <small>Job Title</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/aboutme/wordpress.png" alt="wordpress">
                <div class="caption">
                    <h3>WordPress<br>
                        <small>tsingkuo.wordpress.com</small>
                    </h3>
                    <p>在wordpress官网创建一个博客页面，都是一些杂七杂八的东西(貌似翻墙才能浏览)</p>
                    <ul class="list-inline">
                        <li><a href="https://tsingkuo.wordpress.com/"><i class="fa fa-2x fa-wordpress"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/aboutme/weibo.jpg" alt="weibo">
                <div class="caption">
                    <h3>新浪微博<br>
                        <small>johnnykuo</small>
                    </h3>
                    <p>喜欢关注一些大V，转发一些新闻内容、IT文章</p>
                    <ul class="list-inline">
                        <li><a href="http://weibo.com/johnnykuo"><i class="fa fa-2x fa-weibo"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

<% include footer.ejs%>

</div>
</div>
<!-- /.container -->

<% include scripts.ejs%>

</body>

</html>
