<head>

    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="晴空万里是tsingkuo的个人网站,主要内容就是展示一些个人的内容,分享一下自己在IT方面学习内容,分享一些自己的学习经验!!!">
    <meta name="keywords" content="tsingkuo,nodejs,bootstrap,javascript,晴空万里,java,android,ios">
    <meta name="author" content="tsingkuo">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="tsingkuo.com">

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--style-->
    <style>
        .job-hot {
            position: absolute;
            color: #d9534f;
            right: 0;
            top: 15px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <!--<link rel="apple-touch-icon-precomposed" href="http://static.bootcss.com/www/assets/ico/apple-touch-icon-precomposed.png">-->
    <link rel="shortcut icon" href="/images/ico/icon16.png">

    <script>
        var _hmt = _hmt || [];
    </script>

    <link rel="canonical" href="http://www.tsingkuo.com/" />
    <script>
        var qqnumber = '64150371';
    </script>

</head>