<!DOCTYPE html>
<html lang="en">

<% include head.ejs%>

<body>

<div class="container-background">
<% include navbar.ejs%>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Four Column Portfolio
                <small>Subheading</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../html_repository/index.html">Home</a>
                </li>
                <li class="active">Four Column Portfolio</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="../html_repository/portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!--<div>-->
        <!--<input type="text" value="event" id="event"/>-->
        <!--<input type="text" value="eventType" id="eventType"/>-->
        <!--<button id="submitEvent">提交</button>-->
    <!--</div>-->

    <!--<div>-->
        <!--<input type="text" value="userName" id="userName" />-->
        <!--<button id="updateUser">更新user信息</button>-->
    <!--</div>-->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

<% include footer.ejs%>

</div>
</div>
<!-- /.container -->
<!--<script type="text/javascript">-->
    <!--var APP_ID = '57c3e0649a19d60001929395';-->
    <!--var REST_API_KEY = 'NG5qYkNiZDJrNV9lTWI5amJGSUdXZw';-->
    <!--var SERVER_URL = 'http://apiuat.leap.as';-->

    <!--var timeline = new ML.Timeline({-->
        <!--appId: APP_ID,-->
        <!--restAPIKey: REST_API_KEY,-->
        <!--serverURL: SERVER_URL-->
    <!--});-->

    <!--document.getElementById('submitEvent').addEventListener('click', function() {-->
        <!--var params = [-->
            <!--{-->
                <!--properties: {-->
                    <!--_eventType: document.getElementById('eventType').value,-->
                    <!--_userAgent: window.navigator.userAgent,-->
                    <!--get _userId() {-->
                        <!--return timeline.getUserId();-->
                    <!--},-->
                    <!--get appUserID() {-->
                        <!--return timeline.getInstallationId();-->
                    <!--},-->
                    <!--appVersion: '1.0',-->
                    <!--channel: 'chrome',-->
                    <!--national: 'us',-->
                    <!--os: 'web',-->
                    <!--"eventName":"123123123123123",-->
                    <!--_deviceModel: 'web'-->
                <!--},-->
                <!--time: new Date().getTime(),-->
                <!--event: document.getElementById('event').value,-->
                <!--type: 'track',-->
                <!--distinct_id: uuid.v4()-->
            <!--}-->
        <!--];-->

        <!--timeline.trackEvent(params).then(function(res) {-->
<!--//            expect(res.errorCode).to.be(0);-->
<!--//            done();-->
        <!--})-->
    <!--});-->

    <!--document.getElementById('updateUser').addEventListener('click', function() {-->
        <!--var params = {-->
            <!--username: document.getElementById('userName').value,-->
            <!--password: '123123123',-->
            <!--email: 'qguo@maxleap.com',-->
            <!--utm_campaign: 'spring_sale',-->
            <!--utm_source: 'baidu',-->
            <!--utm_medium: 'cpc',-->
            <!--utm_term: 'running+shoes',-->
            <!--utm_content: 'ad1'-->
        <!--};-->

        <!--timeline.updateUserInfo(params).then(function(res) {-->
            <!--expect(res.number).to.be(1);-->
        <!--})-->
    <!--})-->
<!--</script>-->
<% include scripts.ejs%>

</body>

</html>
